PL_masterProject/PL_masterProject.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"factoryName":{"type":"string","metadata":"Data Factory name"},"LS_AzureDatabricks":{"type":"string"},"LS_AzureSqlDatabase":{"type":"string"},"LS_onpremsql_tokolym":{"type":"string"},"LS_AzureDataLakeStorage":{"type":"string"}},"variables":{"factoryId":"[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"},"resources":[{"name":"[concat(parameters('factoryName'), '/PL_masterProject')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"Switch FL or IL","type":"Switch","dependsOn":[],"userProperties":[],"typeProperties":{"on":{"value":"@pipeline().parameters.loadType","type":"Expression"},"cases":[{"value":"FL","activities":[{"name":"Execute Pipeline FL","type":"ExecutePipeline","dependsOn":[],"policy":{"secureInput":false},"userProperties":[],"typeProperties":{"pipeline":{"referenceName":"PL_FullLoad","type":"PipelineReference"},"waitOnCompletion":true,"parameters":{"loadType":{"value":"@pipeline().parameters.loadType","type":"Expression"},"dbName":{"value":"@pipeline().parameters.dbName","type":"Expression"}}}}]},{"value":"IL","activities":[{"name":"Execute Pipeline IL","type":"ExecutePipeline","dependsOn":[],"policy":{"secureInput":false},"userProperties":[],"typeProperties":{"pipeline":{"referenceName":"PL_IncrementalLoad","type":"PipelineReference"},"waitOnCompletion":true,"parameters":{}}}]}],"defaultActivities":[{"name":"Fail - Invalid Case","type":"Fail","dependsOn":[],"userProperties":[],"typeProperties":{"message":"Invalid Option ","errorCode":"404"}}]}},{"name":"Notebook LandingZone to BronzeZone","type":"DatabricksNotebook","dependsOn":[{"activity":"Switch FL or IL","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"notebookPath":"/Project-tokyolmyp/LandingZone-to-BronzeZone","baseParameters":{"dbName":{"value":"@pipeline().parameters.dbName","type":"Expression"}}},"linkedServiceName":{"referenceName":"[parameters('LS_AzureDatabricks')]","type":"LinkedServiceReference"}},{"name":"Notebook BronzeZone to SilverZone","type":"DatabricksNotebook","dependsOn":[{"activity":"Notebook LandingZone to BronzeZone","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"notebookPath":"/Project-tokyolmyp/BronzeZone-to-SilverZone","baseParameters":{"dbName":{"value":"@pipeline().parameters.dbName","type":"Expression"},"loadType":{"value":"@pipeline().parameters.loadType","type":"Expression"}}},"linkedServiceName":{"referenceName":"[parameters('LS_AzureDatabricks')]","type":"LinkedServiceReference"}},{"name":"Notebook SilverZone to GoldZone","type":"DatabricksNotebook","dependsOn":[{"activity":"Notebook BronzeZone to SilverZone","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"notebookPath":"/Project-tokyolmyp/SilverZone-to-GoldZone","baseParameters":{"dbName":{"value":"@pipeline().parameters.dbName","type":"Expression"}}},"linkedServiceName":{"referenceName":"[parameters('LS_AzureDatabricks')]","type":"LinkedServiceReference"}},{"name":"Web to Send Pipeline Status via Email","type":"WebActivity","dependsOn":[{"activity":"Switch FL or IL","dependencyConditions":["Completed"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"method":"POST","headers":{},"url":"https://prod-23.northcentralus.logic.azure.com:443/workflows/77e92a7f8b834d87aa39ef016c5f762c/triggers/When_a_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_a_HTTP_request_is_received%2Frun&sv=1.0&sig=A0fj8NTb24HN76eP1lLnnkGlOzDM6PBgqEfFN41CtxE","body":{"value":"{\n  \"loadStatus\": '@{activity('Switch FL or IL').output.expression}',\n  \"pipelineName\": '@{pipeline().Pipeline}',\n  \"runId\": '@{pipeline().RunId}',\n  \"startTime\": \"@{convertFromUtc(pipeline().TriggerTime,'India Standard Time')}\",\n  \"endTime\": \"@{convertFromUtc(utcNow(),'India Standard Time')}\",\n  \"errorMessage\": \"Failed Due to an inner activity\"\n}\n","type":"Expression"}}}],"policy":{"elapsedTimeMetric":{}},"parameters":{"loadType":{"type":"string"},"dbName":{"type":"string"}},"annotations":[],"lastPublishTime":"2024-08-17T06:52:30Z"},"dependsOn":["[concat(variables('factoryId'), '/pipelines/PL_FullLoad')]","[concat(variables('factoryId'), '/pipelines/PL_IncrementalLoad')]"]},{"name":"[concat(parameters('factoryName'), '/PL_FullLoad')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"Lookup_metastoretable","type":"Lookup","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"AzureSqlSource","sqlReaderQuery":{"value":"SELECT dbName, schemaName, tableName\nFROM dbo.metastore\nWHERE dbName='@{pipeline().parameters.dbName}'","type":"Expression"},"queryTimeout":"02:00:00","partitionOption":"None"},"dataset":{"referenceName":"DS_AzureSqlTable_metastore","type":"DatasetReference","parameters":{}},"firstRowOnly":false}},{"name":"ForEach_tableinmetastore","type":"ForEach","dependsOn":[{"activity":"Lookup_metastoretable","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"items":{"value":"@activity('Lookup_metastoretable').output.value","type":"Expression"},"activities":[{"name":"Copy data_onpremtoadls","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"SqlServerSource","queryTimeout":"02:00:00","partitionOption":"None"},"sink":{"type":"DelimitedTextSink","storeSettings":{"type":"AzureBlobFSWriteSettings"},"formatSettings":{"type":"DelimitedTextWriteSettings","quoteAllText":true,"fileExtension":".txt"}},"enableStaging":false,"validateDataConsistency":true,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}},"inputs":[{"referenceName":"DS_onpremSqlServerTable","type":"DatasetReference","parameters":{"tableName":{"value":"@item().tableName","type":"Expression"},"dbName":{"value":"@item().dbName","type":"Expression"},"schemaName":{"value":"@item().schemaName","type":"Expression"}}}],"outputs":[{"referenceName":"DS_adls_azurebdeproject","type":"DatasetReference","parameters":{"fileName":{"value":"@item().tableName","type":"Expression"},"dbName":{"value":"@item().dbName","type":"Expression"},"schemaName":{"value":"@item().schemaName","type":"Expression"}}}]},{"name":"Lookup max_lastModifiedDate","type":"Lookup","dependsOn":[{"activity":"Copy data_onpremtoadls","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"SqlServerSource","sqlReaderQuery":{"value":"select max(lastModifiedDate) as maxLMD from @{item().tableName}","type":"Expression"},"queryTimeout":"02:00:00","partitionOption":"None"},"dataset":{"referenceName":"DS_onpremSqlServerTable","type":"DatasetReference","parameters":{"tableName":{"value":"@item().tableName","type":"Expression"},"dbName":{"value":"@item().dbName","type":"Expression"},"schemaName":{"value":"@item().schemaName","type":"Expression"}}},"firstRowOnly":false}},{"name":"Stored procedure to update_metastore_watermarkValue","type":"SqlServerStoredProcedure","dependsOn":[{"activity":"Lookup max_lastModifiedDate","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"storedProcedureName":"[[dbo].[update_metastore_table]","storedProcedureParameters":{"schemaName":{"value":{"value":"@item().schemaName","type":"Expression"},"type":"String"},"tableName":{"value":{"value":"@item().tableName","type":"Expression"},"type":"String"},"waterMarkValue":{"value":{"value":"@activity('Lookup max_lastModifiedDate').output.value[0].maxLMD","type":"Expression"},"type":"DateTime"},"loadType":{"value":{"value":"@pipeline().parameters.loadType","type":"Expression"},"type":"String"},"pipelineName":{"value":{"value":"@pipeline().Pipeline","type":"Expression"},"type":"String"}}},"linkedServiceName":{"referenceName":"[parameters('LS_AzureSqlDatabase')]","type":"LinkedServiceReference"}}]}}],"policy":{"elapsedTimeMetric":{}},"parameters":{"loadType":{"type":"string"},"dbName":{"type":"string"}},"annotations":[],"lastPublishTime":"2024-08-16T19:22:29Z"},"dependsOn":["[concat(variables('factoryId'), '/datasets/DS_AzureSqlTable_metastore')]","[concat(variables('factoryId'), '/datasets/DS_onpremSqlServerTable')]","[concat(variables('factoryId'), '/datasets/DS_adls_azurebdeproject')]"]},{"name":"[concat(parameters('factoryName'), '/PL_IncrementalLoad')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"Fail - IL not present","type":"Fail","dependsOn":[],"userProperties":[],"typeProperties":{"message":"Incremental Load is required","errorCode":"404"}}],"policy":{"elapsedTimeMetric":{}},"annotations":[],"lastPublishTime":"2024-08-16T13:57:35Z"},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/DS_AzureSqlTable_metastore')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('LS_AzureSqlDatabase')]","type":"LinkedServiceReference"},"annotations":[],"type":"AzureSqlTable","schema":[{"name":"dbName","type":"varchar"},{"name":"schemaName","type":"varchar"},{"name":"tableName","type":"varchar"},{"name":"watermarkColName","type":"varchar"}],"typeProperties":{"schema":"dbo","table":"metastore"}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/DS_onpremSqlServerTable')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('LS_onpremsql_tokolym')]","type":"LinkedServiceReference","parameters":{"dbName":{"value":"@dataset().dbName","type":"Expression"}}},"parameters":{"tableName":{"type":"string"},"dbName":{"type":"string"},"schemaName":{"type":"string"}},"annotations":[],"type":"SqlServerTable","schema":[],"typeProperties":{"schema":{"value":"@dataset().schemaName","type":"Expression"},"table":{"value":"@dataset().tableName","type":"Expression"}}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/DS_adls_azurebdeproject')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('LS_AzureDataLakeStorage')]","type":"LinkedServiceReference"},"parameters":{"fileName":{"type":"string"},"dbName":{"type":"string"},"schemaName":{"type":"string"}},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureBlobFSLocation","fileName":{"value":"@dataset().fileName","type":"Expression"},"folderPath":{"value":"@concat('LandingZone','/',dataset().dbName,'/',dataset().fileName)","type":"Expression"},"fileSystem":"azure-bde-project"},"columnDelimiter":";","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":""},"schema":[]},"dependsOn":[]}]}