PL_FullLoad/PL_FullLoad.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"factoryName":{"type":"string","metadata":"Data Factory name"},"LS_AzureSqlDatabase":{"type":"string"},"LS_onpremsql_tokolym":{"type":"string"},"LS_AzureDataLakeStorage":{"type":"string"}},"variables":{"factoryId":"[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"},"resources":[{"name":"[concat(parameters('factoryName'), '/PL_FullLoad')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"Lookup_metastoretable","type":"Lookup","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"AzureSqlSource","sqlReaderQuery":{"value":"SELECT dbName, schemaName, tableName\nFROM dbo.metastore\nWHERE dbName='@{pipeline().parameters.dbName}'","type":"Expression"},"queryTimeout":"02:00:00","partitionOption":"None"},"dataset":{"referenceName":"DS_AzureSqlTable_metastore","type":"DatasetReference","parameters":{}},"firstRowOnly":false}},{"name":"ForEach_tableinmetastore","type":"ForEach","dependsOn":[{"activity":"Lookup_metastoretable","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"items":{"value":"@activity('Lookup_metastoretable').output.value","type":"Expression"},"activities":[{"name":"Copy data_onpremtoadls","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"SqlServerSource","queryTimeout":"02:00:00","partitionOption":"None"},"sink":{"type":"DelimitedTextSink","storeSettings":{"type":"AzureBlobFSWriteSettings"},"formatSettings":{"type":"DelimitedTextWriteSettings","quoteAllText":true,"fileExtension":".txt"}},"enableStaging":false,"validateDataConsistency":true,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}},"inputs":[{"referenceName":"DS_onpremSqlServerTable","type":"DatasetReference","parameters":{"tableName":{"value":"@item().tableName","type":"Expression"},"dbName":{"value":"@item().dbName","type":"Expression"},"schemaName":{"value":"@item().schemaName","type":"Expression"}}}],"outputs":[{"referenceName":"DS_adls_azurebdeproject","type":"DatasetReference","parameters":{"fileName":{"value":"@item().tableName","type":"Expression"},"dbName":{"value":"@item().dbName","type":"Expression"},"schemaName":{"value":"@item().schemaName","type":"Expression"}}}]},{"name":"Lookup max_lastModifiedDate","type":"Lookup","dependsOn":[{"activity":"Copy data_onpremtoadls","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"SqlServerSource","sqlReaderQuery":{"value":"select max(lastModifiedDate) as maxLMD from @{item().tableName}","type":"Expression"},"queryTimeout":"02:00:00","partitionOption":"None"},"dataset":{"referenceName":"DS_onpremSqlServerTable","type":"DatasetReference","parameters":{"tableName":{"value":"@item().tableName","type":"Expression"},"dbName":{"value":"@item().dbName","type":"Expression"},"schemaName":{"value":"@item().schemaName","type":"Expression"}}},"firstRowOnly":false}},{"name":"Stored procedure to update_metastore_watermarkValue","type":"SqlServerStoredProcedure","dependsOn":[{"activity":"Lookup max_lastModifiedDate","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"storedProcedureName":"[[dbo].[update_metastore_table]","storedProcedureParameters":{"schemaName":{"value":{"value":"@item().schemaName","type":"Expression"},"type":"String"},"tableName":{"value":{"value":"@item().tableName","type":"Expression"},"type":"String"},"waterMarkValue":{"value":{"value":"@activity('Lookup max_lastModifiedDate').output.value[0].maxLMD","type":"Expression"},"type":"DateTime"},"loadType":{"value":{"value":"@pipeline().parameters.loadType","type":"Expression"},"type":"String"},"pipelineName":{"value":{"value":"@pipeline().Pipeline","type":"Expression"},"type":"String"}}},"linkedServiceName":{"referenceName":"[parameters('LS_AzureSqlDatabase')]","type":"LinkedServiceReference"}}]}}],"policy":{"elapsedTimeMetric":{}},"parameters":{"loadType":{"type":"string"},"dbName":{"type":"string"}},"annotations":[],"lastPublishTime":"2024-08-16T19:22:29Z"},"dependsOn":["[concat(variables('factoryId'), '/datasets/DS_AzureSqlTable_metastore')]","[concat(variables('factoryId'), '/datasets/DS_onpremSqlServerTable')]","[concat(variables('factoryId'), '/datasets/DS_adls_azurebdeproject')]"]},{"name":"[concat(parameters('factoryName'), '/DS_AzureSqlTable_metastore')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('LS_AzureSqlDatabase')]","type":"LinkedServiceReference"},"annotations":[],"type":"AzureSqlTable","schema":[{"name":"dbName","type":"varchar"},{"name":"schemaName","type":"varchar"},{"name":"tableName","type":"varchar"},{"name":"watermarkColName","type":"varchar"}],"typeProperties":{"schema":"dbo","table":"metastore"}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/DS_onpremSqlServerTable')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('LS_onpremsql_tokolym')]","type":"LinkedServiceReference","parameters":{"dbName":{"value":"@dataset().dbName","type":"Expression"}}},"parameters":{"tableName":{"type":"string"},"dbName":{"type":"string"},"schemaName":{"type":"string"}},"annotations":[],"type":"SqlServerTable","schema":[],"typeProperties":{"schema":{"value":"@dataset().schemaName","type":"Expression"},"table":{"value":"@dataset().tableName","type":"Expression"}}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/DS_adls_azurebdeproject')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('LS_AzureDataLakeStorage')]","type":"LinkedServiceReference"},"parameters":{"fileName":{"type":"string"},"dbName":{"type":"string"},"schemaName":{"type":"string"}},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureBlobFSLocation","fileName":{"value":"@dataset().fileName","type":"Expression"},"folderPath":{"value":"@concat('LandingZone','/',dataset().dbName,'/',dataset().fileName)","type":"Expression"},"fileSystem":"azure-bde-project"},"columnDelimiter":";","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":""},"schema":[]},"dependsOn":[]}]}